@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap');

.home-title {
    font-family: 'Lato', 'Montserrat', 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

header {
    background-color: #dddbcb;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #1f487e;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: #1f487e;
    color: white;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
}

/* body of website */

body {
    background-color: #dddbcb ;
    color: #1f487e;
    font-family: 'Lato', 'Montserrat', 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0; 
    padding: 0;
}

#background {
    height: 725px;
    background-color: white;
    color: #1f487e;
    grid-column: 1/11;
    grid-row: 4/9;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h4 {
    color: black;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    color: white;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img, .mountains {
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.icon {
    padding-top: 10px;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #1f487e;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #1f487e;
    color: white;
}

.join:hover {
    background-color: #1f487e;
    color: white;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.msg {
    background-color: #1f487e;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;

}

.msg h2 {
    font-family: 'Lato', 'Montserrat', 'Roboto', sans-serif;
    color: white;
}

footer {
    background-color: #1f487e;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    text-align: center;
    color: white;
}

footer a:hover {
    color: white;
}

footer .social img {
    padding-top: 15px;
}

/*Blog Section*/

h5 {
    text-align: center;
    color: #1f487e;
    font-size: 2.1em;
}

h6 {
    text-align: left;
    color: #1f487e;
    font-size: 1.75em;
}

/* .blog-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    } */

#summer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
/*  grid-template-rows: repeat(2, auto); */
    grid-column-gap: 10px;
/*  grid-row-gap: 0px; */

}

.summer-header {
    grid-area: 1 / 1 / 2 / 2;
    max-height: 200px;
}

.summer-box {
    grid-area: 2 / 1 / 3 / 2;
}

#summer1 {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.summer-msg1 {
    grid-area: 2 / 2 / 3 / 3;
}

#highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
/*  grid-template-rows: repeat(4, 1fr); */
    grid-column-gap: 10px;
/*  grid-row-gap: 0px; */
}

.highlights-header {
    grid-area: 1 / 1 / 2 / 2;
    max-height: 180px;
}

.highlights-box1 {
    grid-area: 2 / 1 / 3 / 2;
}

#highlights1 {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.highlights-box2 {
    grid-area: 2 / 2 / 3 / 3;
}

#highlights2 {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.highlights-msg1 {
    grid-area: 3 / 1 / 4 / 3;
}

.highlights-box3 {
    grid-area: 4 / 1 / 5 / 3;
}

#highlights3 {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;

}

#encounters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
/*  grid-template-rows: repeat(6, 1fr); */
    grid-column-gap: 0px;
/*  grid-row-gap: 0px; */
    }

.encounters-header {
    grid-area: 1 / 1 / 2 / 2;
    max-height: 150px;

}

.encounters-msg1 {
    grid-area: 2 / 1 / 3 / 3;
}

.encounters-box1 {
    grid-area: 3 / 1 / 4 / 2;
    max-width: 100;
}

#encounters1{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.encounters-box2 {
    grid-area: 3 / 2 / 4 / 3;
}

#encounters2{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.encounters-msg2 {
    grid-area: 4 / 1 / 5 / 3;
}

.encounters-box3 {
    grid-area: 5 / 1 / 6 / 3;
    
}

#encounters3 {    
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.encounters-msg3 {
    grid-area: 6 / 1 / 7 / 3;
}



/*DO NOT MAKE ANY CHANGES PAST HERE!!!!!!*/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}